
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    background-color: rgb(135, 55, 155);
    color: rgb(105, 1, 126);
    text-align: center;
}

h1, h2, h3 {
    color: rgb(70, 11, 67);
}

a {
    color: rgb(116, 14, 110);
}

ul, ol {
    display: inline-block;
    text-align: left;
}

h1, h2, div {
    background-color: rgb(196, 149, 223, 0.6);
}